<!DOCTYPE html>
<html ng-app="CoursesApp"
  class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths ng-scope fontawesome-i2svg-active fontawesome-i2svg-complete"
  lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style data-merge-styles="true"></style>
  <style data-merge-styles="true"></style>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tecnologías de la información</title>
  <meta name="description" content="Plataforma de arranque para los cursos de Formación Docente.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="../../assets/images/ircfavicon.ico">
  <!-- or, set /favicon.ico for IE10 win -->
  <meta name="msapplication-TileColor" content="#D83434">

  <!-- font -->
  <link href="../../assets/css" rel="stylesheet">

  <!-- bootstrap -->
  <link rel="stylesheet" href="../../assets/bootstrap.min.css">

  <script src="../../assets/jquery.min.js.descarga"></script>

  <!--scripts -->
  <!--bootstrap -->
  <script src="../../assets/bootstrap.min.js.descarga"></script>
  <script src="../../assets/modernizr-2.7.1.min.js.descarga"></script>


  <link rel="stylesheet" href="../../assets/normalize.css">
  <link rel="stylesheet" href="../../assets/milligram.min.css">
  <link rel="stylesheet" href="../../assets/styles.css">

  <!-- Custom Element import -->
  <script type="module" src="../../components/components.js"></script>
</head>

<body>
  <back-to-top></back-to-top>

  <header>
    <div class="menu-accesibilidad">
    </div>
    <div>
      Aplicaciones y su impacto comercial
    </div>
  </header>

  <nav>
    <div class="container menu-principal">
      <div class="row">
        <div class="column">
          <ul class="menu">

            <li class="unidad-activa"><a href="#unidad-2" title="unidad 2">U2</a></li>

          </ul>
        </div>
        <div class="column">
          <!--   <ul class="menu">
                      <li><a href="" title="personal"><i class="fas fa-users"></i></a></li>
                      <li><a href="" title="comunicación"><i class="fas fa-comments"></i></a></li>
                      <li><a href="" title="recursos"><i class="fas fa-book"></i></a></li>
                      <li><a href="" title="consulta"><i class="fas fa-file-alt"></i></a></li>
                      <li><a href="" title="herramientas"><i class="fas fa-wrench"></i></a></li>
                  </ul>-->
        </div>
      </div>
    </div>
    <div id="submenu">
      <div class="container">
        <div class="row">
          <div class="column">
            <ul id="unidad-2">
              <li><a href="#pagina-1">Presentación y objetivo de unidad</a></li>
              <li><a href="#pagina-2">Incidente crítico</a></li>
              <li><a href="#pagina-3">2.1 Concepto </a></li>
              <li><a href="#pagina-4">2.2 Función del comercio</a></li>
              <li><a href="#pagina-5">2.3 Evolución del comercio</a></li>
              <li><a href="#pagina-6">2.4 Herramientas para el comercio</a></li>
              <li><a href="#pagina-7">Cierre de unidad</a></li>
              <li><a href="#pagina-8">Fuentes de consulta</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <div id="pagina-1"></div>
  <section class="wrapper">
    <div class="contenido-principal">
    </div>
  </section>


  <div id="pagina-2"></div>
 


  <footer is="my-footer"></footer>

  <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script> -->
  <script src="../../assets/fontawesome-all.min.js.descarga"></script>
  <script src="../../assets/plugins.js.descarga"></script>
  <script src="../../assets/main.js.descarga"></script>
</body>

</html>
